h1 {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align:center;

}
h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align:center;
}
p {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
}
body {
    background-image: url("cake.jpg");
    background-size: cover;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

