h1 {
    color:rgb(144, 33, 185);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align:center;

}
h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align:left;
}
p {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: left;
}
body {
    background-image: url("cake.jpg");
    background-size: cover;
}

